In [9]:
import pandas as pd
import pyreadstat as pystat
import matplotlib.pyplot as plt
import seaborn as sns

# Importing the dataset (Context data of students at 8th grade in Ireland)

In [10]:
org_data = pd.read_spss("./data/orig/SPSS/bsgirlm8.sav")
org_data_copy = org_data.copy()

# Construction of Dataset

## Setting up  a new focused data set

### Adding Basic contextual variables(Gender, Language, Books at Home, Computers at Home, Shared_Computers, Background of Parents etc) - Categorical

In [11]:

columns = [ "BSBG01", "BSBG03", "BSBG04",
    "BSBG05A", "BSBG05B", "BSBG05C", "BSBG05D",
    "BSBG05E", "BSBG05F", "BSBG06A",
    "BSBG06B", "BSBG07",
    "BSBG08A", "BSBG08B"]
df = org_data_copy[columns]
rename_dict = {
    "BSBG01": "Gender_Student",
    "BSBG03": "Lang_Spoken_Home",
    "BSBG04": "Books_Home",
    "BSBG05A": "Own_Computer",
    "BSBG05B": "Shared_Computer",
    "BSBG05C": "Smartphone",
    "BSBG05D": "Internet_Access",
    "BSBG05E": "Study_Desk",
    "BSBG05F": "Own_Room",
    "BSBG06A": "ParentA_Edu_Level",
    "BSBG06B": "ParentB_Edu_Level",
    "BSBG07": "Education_Expectation",
    "BSBG08A": "ParentA_Born_Country",
    "BSBG08B": "ParentB_Born_Country"
}
df = df.rename(columns=rename_dict)
df.head()

,Gender_Student,Lang_Spoken_Home,Books_Home,Own_Computer,Shared_Computer,Smartphone,Internet_Access,Study_Desk,Own_Room,ParentA_Edu_Level,ParentB_Edu_Level,Education_Expectation,ParentA_Born_Country,ParentB_Born_Country
0,Girl,Sometimes,Enough to fill one bookcase (26–100 books),Yes,Yes,Yes,Yes,Yes,Yes,I don’t know,I don’t know,Finish <Postgraduate degree: Master’s—ISCED Le...,No,No
1,Girl,Sometimes,Enough to fill one bookcase (26–100 books),Yes,Yes,Yes,Yes,Yes,Yes,I don’t know,I don’t know,Finish <Postgraduate degree: Master’s—ISCED Le...,No,No
2,Girl,Almost always,Enough to fill one bookcase (26–100 books),Yes,No,Yes,Yes,Yes,Yes,I don’t know,I don’t know,Finish <Short-cycle tertiary education—ISCED L...,No,No
3,Girl,Always,None or very few (0–10 books),Yes,Yes,Yes,Yes,Yes,Yes,<Lower secondary education—ISCED Level 2>,<Lower secondary education—ISCED Level 2>,Finish <Postgraduate degree: Master’s—ISCED Le...,Yes,Yes
4,<Other>,Almost always,Enough to fill one bookcase (26–100 books),Yes,Yes,Yes,Yes,Yes,Yes,<Upper secondary education—ISCED Level 3>,<Short-cycle tertiary education—ISCED Level 5>,Finish <Postgraduate degree: Master’s—ISCED Le...,No,No

### Adding Scale variables of Plausible Values for each subject

In [12]:
scale_vars = ["BSMMAT01", "BSMMAT02", "BSMMAT03", "BSMMAT04", "BSMMAT05",
    "BSSSCI01", "BSSSCI02", "BSSSCI03", "BSSSCI04", "BSSSCI05",
    "BSSBIO01", "BSSBIO02", "BSSBIO03", "BSSBIO04", "BSSBIO05",
    "BSSCHE01", "BSSCHE02", "BSSCHE03", "BSSCHE04", "BSSCHE05",
    "BSSPHY01", "BSSPHY02", "BSSPHY03", "BSSPHY04", "BSSPHY05",
    "BSSEAR01", "BSSEAR02", "BSSEAR03", "BSSEAR04", "BSSEAR05"
]
scale_var_dict = {
    "BSMMAT01": "1ST_PV_MATHEMATICS",
    "BSMMAT02": "2ND_PV_MATHEMATICS",
    "BSMMAT03": "3RD_PV_MATHEMATICS",
    "BSMMAT04": "4TH_PV_MATHEMATICS",
    "BSMMAT05": "5TH_PV_MATHEMATICS",
    "BSSSCI01": "1ST_PV_SCIENCE",
    "BSSSCI02": "2ND_PV_SCIENCE",
    "BSSSCI03": "3RD_PV_SCIENCE",
    "BSSSCI04": "4TH_PV_SCIENCE",
    "BSSSCI05": "5TH_PV_SCIENCE",
    "BSSBIO01": "1ST_PV_BIOLOGY",
    "BSSBIO02": "2ND_PV_BIOLOGY",
    "BSSBIO03": "3RD_PV_BIOLOGY",
    "BSSBIO04": "4TH_PV_BIOLOGY",
    "BSSBIO05": "5TH_PV_BIOLOGY",
    "BSSCHE01": "1ST_PV_CHEMISTRY",
    "BSSCHE02": "2ND_PV_CHEMISTRY",
    "BSSCHE03": "3RD_PV_CHEMISTRY",
    "BSSCHE04": "4TH_PV_CHEMISTRY",
    "BSSCHE05": "5TH_PV_CHEMISTRY",
    "BSSPHY01": "1ST_PV_PHYSICS",
    "BSSPHY02": "2ND_PV PHYSICS",
    "BSSPHY03": "3RD_PV_PHYSICS",
    "BSSPHY04": "4TH_PV_PHYSICS",
    "BSSPHY05": "5TH_PV_PHYSICS",
    "BSSEAR01": "1ST_PV_EARTH_SCIENCE",
    "BSSEAR02": "2ND_PV_EARTH_SCIENCE",
    "BSSEAR03": "3RD_PV_EARTH_SCIENCE",
    "BSSEAR04": "4TH_PV_EARTH_SCIENCE",
    "BSSEAR05": "5TH_PV_EARTH_SCIENCE"
}

scale_variables = org_data_copy[scale_vars].astype("float64").rename(columns=scale_var_dict)
df = pd.concat([df, scale_variables], axis=1)


### Adding remaining categorical variables - (Behavioural attributes including, dissorderly behaviour, bullying, likeness for subjects, confidence etc)

In [13]:
behav_attr_variables = [
    "BSDGSSB", "BSDGSB", "BSDGSLM", "BSDGICM", "BSDGDML", "BSDGSCM", "BSDGSVM",
    "BSDGSLS", "BSDGICS", "BSDGSCS", "BSDGSVS", "BSDGSLB", "BSDGICB", "BSDGSCB",
    "BSDGSLE", "BSDGICE", "BSDGSCE", "BSDGSLC", "BSDGICC", "BSDGSCC", "BSDGSLP",
    "BSDGICP", "BSDGSCP", "BSDGSEC", "BSDGDSL", "BSDGDBL", "BSDGDEL", "BSDGDCL",
    "BSDGDPL", "BSDGVEP"
]
behav_attr = {
    "BSDGSSB": "Sense_of_School_Belonging",
    "BSDGSB": "Student_Bullying",
    "BSDGSLM": "Students_Like_Learning_Mathematics",
    "BSDGICM": "Instructional_Clarity_in_Mathematics_Lessons",
    "BSDGDML": "Disorderly_Behavior_during_Math_Lessons",
    "BSDGSCM": "Students_Confident_in_Mathematics",
    "BSDGSVM": "Students_Value_Mathematics",
    "BSDGSLS": "Students_Like_Learning_Science",
    "BSDGICS": "Instructional_Clarity_in_Science_Lessons",
    "BSDGSCS": "Students_Confident_in_Science",
    "BSDGSVS": "Students_Value_Science",
    "BSDGSLB": "Students_Like_Learning_Biology",
    "BSDGICB": "Instructional_Clarity_in_Biology_Lessons",
    "BSDGSCB": "Students_Confident_in_Biology",
    "BSDGSLE": "Students_Like_Learning_Earth_Science",
    "BSDGICE": "Instructional_Clarity_in_Earth_Science_Lessons",
    "BSDGSCE": "Students_Confident_in_Earth_Science",
    "BSDGSLC": "Students_Like_Learning_Chemistry",
    "BSDGICC": "Instructional_Clarity_in_Chemistry_Lessons",
    "BSDGSCC": "Students_Confident_in_Chemistry",
    "BSDGSLP": "Students_Like_Learning_Physics",
    "BSDGICP": "Instructional_Clarity_in_Physics_Lessons",
    "BSDGSCP": "Students_Confident_in_Physics",
    "BSDGSEC": "Digital_Self_Efficacy",
    "BSDGDSL": "Disorderly_Behavior_during_Science_Lessons",
    "BSDGDBL": "Disorderly_Behavior_during_Biology_Lessons",
    "BSDGDEL": "Disorderly_Behavior_during_Earth_Science_Lessons",
    "BSDGDCL": "Disorderly_Behavior_during_Chemistry_Lessons",
    "BSDGDPL": "Disorderly_Behavior_during_Physics_Lessons",
    "BSDGVEP": "Students_Value_Environmental_Preservation"
}


behavioral_attributes = org_data_copy[behav_attr_variables]
behavioral_attributes = behavioral_attributes[behav_attr_variables].rename(columns=behav_attr)
df = pd.concat([df, behavioral_attributes], axis=1)

## Removing Emptyl Attributes
Some empty attributes are present in the datafeame, which needs to be dropped.

In [14]:
df = df.dropna(axis=1, how='all')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5090 entries, 0 to 5089
Data columns (total 58 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Gender_Student                                5043 non-null   category
 1   Lang_Spoken_Home                              5033 non-null   category
 2   Books_Home                                    5034 non-null   category
 3   Own_Computer                                  5011 non-null   category
 4   Shared_Computer                               4960 non-null   category
 5   Smartphone                                    5025 non-null   category
 6   Internet_Access                               5025 non-null   category
 7   Study_Desk                                    5027 non-null   category
 8   Own_Room                                      5017 non-null   category
 9   ParentA_Edu_Level                             4836 non-null   category
 10  ParentB_Edu_Level                             4570 non-null   category
 11  Education_Expectation                         4986 non-null   category
 12  ParentA_Born_Country                          5019 non-null   category
 13  ParentB_Born_Country                          4973 non-null   category
 14  1ST_PV_MATHEMATICS                            5090 non-null   float64
 15  2ND_PV_MATHEMATICS                            5090 non-null   float64
 16  3RD_PV_MATHEMATICS                            5090 non-null   float64
 17  4TH_PV_MATHEMATICS                            5090 non-null   float64
 18  5TH_PV_MATHEMATICS                            5090 non-null   float64
 19  1ST_PV_SCIENCE                                5090 non-null   float64
 20  2ND_PV_SCIENCE                                5090 non-null   float64
 21  3RD_PV_SCIENCE                                5090 non-null   float64
 22  4TH_PV_SCIENCE                                5090 non-null   float64
 23  5TH_PV_SCIENCE                                5090 non-null   float64
 24  1ST_PV_BIOLOGY                                5090 non-null   float64
 25  2ND_PV_BIOLOGY                                5090 non-null   float64
 26  3RD_PV_BIOLOGY                                5090 non-null   float64
 27  4TH_PV_BIOLOGY                                5090 non-null   float64
 28  5TH_PV_BIOLOGY                                5090 non-null   float64
 29  1ST_PV_CHEMISTRY                              5090 non-null   float64
 30  2ND_PV_CHEMISTRY                              5090 non-null   float64
 31  3RD_PV_CHEMISTRY                              5090 non-null   float64
 32  4TH_PV_CHEMISTRY                              5090 non-null   float64
 33  5TH_PV_CHEMISTRY                              5090 non-null   float64
 34  1ST_PV_PHYSICS                                5090 non-null   float64
 35  2ND_PV PHYSICS                                5090 non-null   float64
 36  3RD_PV_PHYSICS                                5090 non-null   float64
 37  4TH_PV_PHYSICS                                5090 non-null   float64
 38  5TH_PV_PHYSICS                                5090 non-null   float64
 39  1ST_PV_EARTH_SCIENCE                          5090 non-null   float64
 40  2ND_PV_EARTH_SCIENCE                          5090 non-null   float64
 41  3RD_PV_EARTH_SCIENCE                          5090 non-null   float64
 42  4TH_PV_EARTH_SCIENCE                          5090 non-null   float64
 43  5TH_PV_EARTH_SCIENCE                          5090 non-null   float64
 44  Sense_of_School_Belonging                     5003 non-null   category
 45  Student_Bullying                              4993 non-null   category
 46  Students_Like_Learning_Mathematics            5015 non-null   category
 47  Instructional_Clarity_in_Mathematics_Lessons  5000 non-null   category
 48  Disorderly_Behavior_during_Math_Lessons       5000 non-null   category
 49  Students_Confident_in_Mathematics             4955 non-null   category
 50  Students_Value_Mathematics                    4963 non-null   category
 51  Students_Like_Learning_Science                4625 non-null   category
 52  Instructional_Clarity_in_Science_Lessons      4608 non-null   category
 53  Students_Confident_in_Science                 4569 non-null   category
 54  Students_Value_Science                        4581 non-null   category
 55  Digital_Self_Efficacy                         4981 non-null   category
 56  Disorderly_Behavior_during_Science_Lessons    4610 non-null   category
 57  Students_Value_Environmental_Preservation     4986 non-null   category
dtypes: category(28), float64(30)
memory usage: 1.3 MB

###  Managing null rows
Since scale attributes have no null rows, the null values for the categorical variables needed to be taken care of. In this analysis, null rows will be dropped

In [15]:
df = df.dropna(axis=0)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3875 entries, 0 to 5089
Data columns (total 58 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Gender_Student                                3875 non-null   category
 1   Lang_Spoken_Home                              3875 non-null   category
 2   Books_Home                                    3875 non-null   category
 3   Own_Computer                                  3875 non-null   category
 4   Shared_Computer                               3875 non-null   category
 5   Smartphone                                    3875 non-null   category
 6   Internet_Access                               3875 non-null   category
 7   Study_Desk                                    3875 non-null   category
 8   Own_Room                                      3875 non-null   category
 9   ParentA_Edu_Level                             3875 non-null   category
 10  ParentB_Edu_Level                             3875 non-null   category
 11  Education_Expectation                         3875 non-null   category
 12  ParentA_Born_Country                          3875 non-null   category
 13  ParentB_Born_Country                          3875 non-null   category
 14  1ST_PV_MATHEMATICS                            3875 non-null   float64
 15  2ND_PV_MATHEMATICS                            3875 non-null   float64
 16  3RD_PV_MATHEMATICS                            3875 non-null   float64
 17  4TH_PV_MATHEMATICS                            3875 non-null   float64
 18  5TH_PV_MATHEMATICS                            3875 non-null   float64
 19  1ST_PV_SCIENCE                                3875 non-null   float64
 20  2ND_PV_SCIENCE                                3875 non-null   float64
 21  3RD_PV_SCIENCE                                3875 non-null   float64
 22  4TH_PV_SCIENCE                                3875 non-null   float64
 23  5TH_PV_SCIENCE                                3875 non-null   float64
 24  1ST_PV_BIOLOGY                                3875 non-null   float64
 25  2ND_PV_BIOLOGY                                3875 non-null   float64
 26  3RD_PV_BIOLOGY                                3875 non-null   float64
 27  4TH_PV_BIOLOGY                                3875 non-null   float64
 28  5TH_PV_BIOLOGY                                3875 non-null   float64
 29  1ST_PV_CHEMISTRY                              3875 non-null   float64
 30  2ND_PV_CHEMISTRY                              3875 non-null   float64
 31  3RD_PV_CHEMISTRY                              3875 non-null   float64
 32  4TH_PV_CHEMISTRY                              3875 non-null   float64
 33  5TH_PV_CHEMISTRY                              3875 non-null   float64
 34  1ST_PV_PHYSICS                                3875 non-null   float64
 35  2ND_PV PHYSICS                                3875 non-null   float64
 36  3RD_PV_PHYSICS                                3875 non-null   float64
 37  4TH_PV_PHYSICS                                3875 non-null   float64
 38  5TH_PV_PHYSICS                                3875 non-null   float64
 39  1ST_PV_EARTH_SCIENCE                          3875 non-null   float64
 40  2ND_PV_EARTH_SCIENCE                          3875 non-null   float64
 41  3RD_PV_EARTH_SCIENCE                          3875 non-null   float64
 42  4TH_PV_EARTH_SCIENCE                          3875 non-null   float64
 43  5TH_PV_EARTH_SCIENCE                          3875 non-null   float64
 44  Sense_of_School_Belonging                     3875 non-null   category
 45  Student_Bullying                              3875 non-null   category
 46  Students_Like_Learning_Mathematics            3875 non-null   category
 47  Instructional_Clarity_in_Mathematics_Lessons  3875 non-null   category
 48  Disorderly_Behavior_during_Math_Lessons       3875 non-null   category
 49  Students_Confident_in_Mathematics             3875 non-null   category
 50  Students_Value_Mathematics                    3875 non-null   category
 51  Students_Like_Learning_Science                3875 non-null   category
 52  Instructional_Clarity_in_Science_Lessons      3875 non-null   category
 53  Students_Confident_in_Science                 3875 non-null   category
 54  Students_Value_Science                        3875 non-null   category
 55  Digital_Self_Efficacy                         3875 non-null   category
 56  Disorderly_Behavior_during_Science_Lessons    3875 non-null   category
 57  Students_Value_Environmental_Preservation     3875 non-null   category
dtypes: category(28), float64(30)
memory usage: 1.0 MB

# Creating the feather

In [16]:
df.to_feather("./data/imported_and_cleaned.feather")